body {
    font-family: Lexend;
  }
  .display-1 {
    font-family: 'Lexend', sans-serif;
    font-size: 4.4rem;
    line-height: 1.1;
  }
  .display-1 > .mbr-iconfont {
    font-size: 5.5rem;
  }
  .display-2 {
    font-family: 'Lexend', sans-serif;
    font-size: 2.8rem;
    line-height: 1.1;
  }
  .display-2 > .mbr-iconfont {
    font-size: 3.5rem;
  }
  .display-4 {
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
  }
  .display-4 > .mbr-iconfont {
    font-size: 1.25rem;
  }
  .display-5 {
    font-family: 'Lexend', sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
  }
  .display-5 > .mbr-iconfont {
    font-size: 2.25rem;
  }
  .display-7 {
    font-family: 'Lexend', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .display-7 > .mbr-iconfont {
    font-size: 1.625rem;
  }
  /* ---- Fluid typography for mobile devices ---- */
  /* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
  /* 100vw - current viewport width */
  /* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
  /* 0.65 - min scale variable, may vary */
  @media (max-width: 992px) {
    .display-1 {
      font-size: 3.52rem;
    }
  }
  @media (max-width: 768px) {
    .display-1 {
      font-size: 3.08rem;
      font-size: calc( 2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.1 * (2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-2 {
      font-size: 2.24rem;
      font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.3 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-4 {
      font-size: 0.8rem;
      font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-5 {
      font-size: 1.44rem;
      font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-7 {
      font-size: 1.04rem;
      font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
    }
  }
  /* Buttons */
  .btn {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
  }
  .btn-sm {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
  }
  .btn-md {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
  }
  .btn-lg {
    padding: 1rem 2.6rem;
    border-radius: 4px;
  }
  .bg-primary {
    background-color: #a148ff !important;
  }
  .bg-success {
    background-color: #263d5a !important;
  }
  .bg-info {
    background-color: #47b5ed !important;
  }
  .bg-warning {
    background-color: #ffe161 !important;
  }
  .bg-danger {
    background-color: #ff9966 !important;
  }
  .btn-primary {
    background-color: #a148ff !important;
    background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
    border: none;
    transition: all 0.3s;
  }
  .btn-primary,
  .btn-primary:active {
    background-color: #a148ff;
    color: #ffffff !important;
  }
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary.active {
    color: #ffffff !important;
    background-color: #7500f0;
  }
  .btn-primary.disabled,
  .btn-primary:disabled {
    color: #ffffff !important;
    background-color: #7500f0;
  }
  .btn-primary:hover {
    transform: translateY(-3px);
  }
  .btn-secondary {
    background-color: #ff6f45 !important;
    background: linear-gradient(90deg, #ff6f45 0%, #ff6f45 100%);
    border: none;
    transition: all 0.3s;
  }
  .btn-secondary,
  .btn-secondary:active {
    background-color: #ff6f45;
    color: #ffffff !important;
  }
  .btn-secondary:hover,
  .btn-secondary:focus,
  .btn-secondary.focus,
  .btn-secondary.active {
    color: #ffffff !important;
    background-color: #ed3600;
  }
  .btn-secondary.disabled,
  .btn-secondary:disabled {
    color: #ffffff !important;
    background-color: #ed3600;
  }
  .btn-secondary:hover {
    transform: translateY(-3px);
  }
  .btn-info {
    background-color: #47b5ed !important;
    background: linear-gradient(90deg, #47b5ed 0%, #ff6f45 100%);
    border: none;
    transition: all 0.3s;
  }
  .btn-info,
  .btn-info:active {
    background-color: #47b5ed;
    color: #ffffff !important;
  }
  .btn-info:hover,
  .btn-info:focus,
  .btn-info.focus,
  .btn-info.active {
    color: #ffffff !important;
    background-color: #148cca;
  }
  .btn-info.disabled,
  .btn-info:disabled {
    color: #ffffff !important;
    background-color: #148cca;
  }
  .btn-info:hover {
    transform: translateY(-3px);
  }
  .btn-success {
    background-color: #263d5a !important;
    background: linear-gradient(90deg, #263d5a 0%, #ff6f45 100%);
    border: none;
    transition: all 0.3s;
  }
  .btn-success,
  .btn-success:active {
    background-color: #263d5a;
    color: #ffffff !important;
  }
  .btn-success:hover,
  .btn-success:focus,
  .btn-success.focus,
  .btn-success.active {
    color: #ffffff !important;
    background-color: #0c141d;
  }
  .btn-success.disabled,
  .btn-success:disabled {
    color: #ffffff !important;
    background-color: #0c141d;
  }
  .btn-success:hover {
    transform: translateY(-3px);
  }
  .btn-warning {
    background-color: #ffe161 !important;
    background: linear-gradient(90deg, #ffe161 0%, #ff6f45 100%);
    border: none;
    transition: all 0.3s;
  }
  .btn-warning,
  .btn-warning:active {
    background-color: #ffe161;
    color: #614f00 !important;
  }
  .btn-warning:hover,
  .btn-warning:focus,
  .btn-warning.focus,
  .btn-warning.active {
    color: #0a0800 !important;
    background-color: #ffd10a;
  }
  .btn-warning.disabled,
  .btn-warning:disabled {
    color: #614f00 !important;
    background-color: #ffd10a;
  }
  .btn-warning:hover {
    transform: translateY(-3px);
  }
  .btn-danger {
    background-color: #ff9966 !important;
    background: linear-gradient(90deg, #ff9966 0%, #ff6f45 100%);
    border: none;
    transition: all 0.3s;
  }
  .btn-danger,
  .btn-danger:active {
    background-color: #ff9966;
    color: #ffffff !important;
  }
  .btn-danger:hover,
  .btn-danger:focus,
  .btn-danger.focus,
  .btn-danger.active {
    color: #ffffff !important;
    background-color: #ff5f0f;
  }
  .btn-danger.disabled,
  .btn-danger:disabled {
    color: #ffffff !important;
    background-color: #ff5f0f;
  }
  .btn-danger:hover {
    transform: translateY(-3px);
  }
  .btn-white {
    background-color: #fafafa !important;
    background: linear-gradient(90deg, #fafafa 0%, #ff6f45 100%);
    border: none;
    transition: all 0.3s;
  }
  .btn-white,
  .btn-white:active {
    background-color: #fafafa;
    color: #7a7a7a !important;
  }
  .btn-white:hover,
  .btn-white:focus,
  .btn-white.focus,
  .btn-white.active {
    color: #4f4f4f !important;
    background-color: #cfcfcf;
  }
  .btn-white.disabled,
  .btn-white:disabled {
    color: #7a7a7a !important;
    background-color: #cfcfcf;
  }
  .btn-white:hover {
    transform: translateY(-3px);
  }
  .btn-black {
    background-color: #232323 !important;
    background: linear-gradient(90deg, #232323 0%, #ff6f45 100%);
    border: none;
    transition: all 0.3s;
  }
  .btn-black,
  .btn-black:active {
    background-color: #232323;
    color: #ffffff !important;
  }
  .btn-black:hover,
  .btn-black:focus,
  .btn-black.focus,
  .btn-black.active {
    color: #ffffff !important;
    background-color: #000000;
  }
  .btn-black.disabled,
  .btn-black:disabled {
    color: #ffffff !important;
    background-color: #000000;
  }
  .btn-black:hover {
    transform: translateY(-3px);
  }
  .btn-primary-outline,
  .btn-primary-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #a148ff;
  }
  .btn-primary-outline:hover,
  .btn-primary-outline:focus,
  .btn-primary-outline.focus,
  .btn-primary-outline.active {
    color: #7500f0 !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-primary-outline.disabled,
  .btn-primary-outline:disabled {
    color: #ffffff !important;
    background-color: #a148ff !important;
    border-color: #a148ff !important;
  }
  .btn-secondary-outline,
  .btn-secondary-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #ff6f45;
  }
  .btn-secondary-outline:hover,
  .btn-secondary-outline:focus,
  .btn-secondary-outline.focus,
  .btn-secondary-outline.active {
    color: #ed3600 !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-secondary-outline.disabled,
  .btn-secondary-outline:disabled {
    color: #ffffff !important;
    background-color: #ff6f45 !important;
    border-color: #ff6f45 !important;
  }
  .btn-info-outline,
  .btn-info-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #47b5ed;
  }
  .btn-info-outline:hover,
  .btn-info-outline:focus,
  .btn-info-outline.focus,
  .btn-info-outline.active {
    color: #148cca !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-info-outline.disabled,
  .btn-info-outline:disabled {
    color: #ffffff !important;
    background-color: #47b5ed !important;
    border-color: #47b5ed !important;
  }
  .btn-success-outline,
  .btn-success-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #263d5a;
  }
  .btn-success-outline:hover,
  .btn-success-outline:focus,
  .btn-success-outline.focus,
  .btn-success-outline.active {
    color: #0c141d !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-success-outline.disabled,
  .btn-success-outline:disabled {
    color: #ffffff !important;
    background-color: #263d5a !important;
    border-color: #263d5a !important;
  }
  .btn-warning-outline,
  .btn-warning-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #ffe161;
  }
  .btn-warning-outline:hover,
  .btn-warning-outline:focus,
  .btn-warning-outline.focus,
  .btn-warning-outline.active {
    color: #ffd10a !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-warning-outline.disabled,
  .btn-warning-outline:disabled {
    color: #614f00 !important;
    background-color: #ffe161 !important;
    border-color: #ffe161 !important;
  }
  .btn-danger-outline,
  .btn-danger-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #ff9966;
  }
  .btn-danger-outline:hover,
  .btn-danger-outline:focus,
  .btn-danger-outline.focus,
  .btn-danger-outline.active {
    color: #ff5f0f !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-danger-outline.disabled,
  .btn-danger-outline:disabled {
    color: #ffffff !important;
    background-color: #ff9966 !important;
    border-color: #ff9966 !important;
  }
  .btn-black-outline,
  .btn-black-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #232323;
  }
  .btn-black-outline:hover,
  .btn-black-outline:focus,
  .btn-black-outline.focus,
  .btn-black-outline.active {
    color: #000000 !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-black-outline.disabled,
  .btn-black-outline:disabled {
    color: #ffffff !important;
    background-color: #232323 !important;
    border-color: #232323 !important;
  }
  .btn-white-outline,
  .btn-white-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #fafafa;
  }
  .btn-white-outline:hover,
  .btn-white-outline:focus,
  .btn-white-outline.focus,
  .btn-white-outline.active {
    color: #cfcfcf !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-white-outline.disabled,
  .btn-white-outline:disabled {
    color: #7a7a7a !important;
    background-color: #fafafa !important;
    border-color: #fafafa !important;
  }
  .text-primary {
    color: #a148ff !important;
  }
  .text-secondary {
    color: #ff6f45 !important;
  }
  .text-success {
    color: #263d5a !important;
  }
  .text-info {
    color: #47b5ed !important;
  }
  .text-warning {
    color: #ffe161 !important;
  }
  .text-danger {
    color: #ff9966 !important;
  }
  .text-white {
    color: #fafafa !important;
  }
  .text-black {
    color: #232323 !important;
  }
  a.text-primary:hover,
  a.text-primary:focus,
  a.text-primary.active {
    color: #6d00e1 !important;
  }
  a.text-secondary:hover,
  a.text-secondary:focus,
  a.text-secondary.active {
    color: #de3200 !important;
  }
  a.text-success:hover,
  a.text-success:focus,
  a.text-success.active {
    color: #080c12 !important;
  }
  a.text-info:hover,
  a.text-info:focus,
  a.text-info.active {
    color: #1283bc !important;
  }
  a.text-warning:hover,
  a.text-warning:focus,
  a.text-warning.active {
    color: #facb00 !important;
  }
  a.text-danger:hover,
  a.text-danger:focus,
  a.text-danger.active {
    color: #ff5500 !important;
  }
  a.text-white:hover,
  a.text-white:focus,
  a.text-white.active {
    color: #fafafa !important;
  }
  a.text-black:hover,
  a.text-black:focus,
  a.text-black.active {
    color: #000000 !important;
  }
  a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
    position: relative;
    background-image: transparent;
    background-size: 10000px 2px;
    background-repeat: no-repeat;
    background-position: 0px 1.2em;
    background-position: -10000px 1.2em;
  }
  a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
    transition: background-position 2s ease-in-out;
    background-image: linear-gradient(currentColor 50%, currentColor 50%);
    background-position: 0px 1.2em;
  }
  .nav-tabs .nav-link.active {
    color: #a148ff;
  }
  .nav-tabs .nav-link:not(.active) {
    color: #232323;
  }
  .alert-success {
    background-color: #70c770;
  }
  .alert-info {
    background-color: #47b5ed;
  }
  .alert-warning {
    background-color: #ffe161;
  }
  .alert-danger {
    background-color: #ff9966;
  }
  .mbr-section-btn a.btn:not(.btn-form) {
    border-radius: 100px;
  }
  .mbr-gallery-filter li a {
    border-radius: 100px !important;
  }
  .mbr-gallery-filter li.active .btn {
    background-color: #a148ff;
    border-color: #a148ff;
    color: #ffffff;
  }
  .mbr-gallery-filter li.active .btn:focus {
    box-shadow: none;
  }
  .nav-tabs .nav-link {
    border-radius: 100px !important;
  }
  a,
  a:hover {
    color: #a148ff;
  }
  .mbr-plan-header.bg-primary .mbr-plan-subtitle,
  .mbr-plan-header.bg-primary .mbr-plan-price-desc {
    color: #ffffff;
  }
  .mbr-plan-header.bg-success .mbr-plan-subtitle,
  .mbr-plan-header.bg-success .mbr-plan-price-desc {
    color: #4c7ab3;
  }
  .mbr-plan-header.bg-info .mbr-plan-subtitle,
  .mbr-plan-header.bg-info .mbr-plan-price-desc {
    color: #ffffff;
  }
  .mbr-plan-header.bg-warning .mbr-plan-subtitle,
  .mbr-plan-header.bg-warning .mbr-plan-price-desc {
    color: #ffffff;
  }
  .mbr-plan-header.bg-danger .mbr-plan-subtitle,
  .mbr-plan-header.bg-danger .mbr-plan-price-desc {
    color: #ffffff;
  }
  /* Scroll to top button*/
  .scrollToTop_wraper {
    display: none;
  }
  .form-control {
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
  }
  .form-control > .mbr-iconfont {
    font-size: 1.25rem;
  }
  .form-control:hover,
  .form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    border-color: #a148ff !important;
  }
  .form-control:-webkit-input-placeholder {
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
  }
  .form-control:-webkit-input-placeholder > .mbr-iconfont {
    font-size: 1.25rem;
  }
  blockquote {
    border-color: #a148ff;
  }
  /* Forms */
  .mbr-form .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .mbr-form .input-group-btn a.btn:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  }
  .mbr-form .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
    padding: 1rem 3rem;
  }
  .mbr-form .input-group-btn button[type="submit"]:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  }
  .jq-selectbox li:hover,
  .jq-selectbox li.selected {
    background-color: #a148ff;
    color: #ffffff;
  }
  .jq-number__spin {
    transition: 0.25s ease;
  }
  .jq-number__spin:hover {
    border-color: #a148ff;
  }
  .jq-selectbox .jq-selectbox__trigger-arrow,
  .jq-number__spin.minus:after,
  .jq-number__spin.plus:after {
    transition: 0.4s;
    border-top-color: #353535;
    border-bottom-color: #353535;
  }
  .jq-selectbox:hover .jq-selectbox__trigger-arrow,
  .jq-number__spin.minus:hover:after,
  .jq-number__spin.plus:hover:after {
    border-top-color: #a148ff;
    border-bottom-color: #a148ff;
  }
  .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
  .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
  .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
    color: #ffffff !important;
    background-color: #a148ff !important;
    box-shadow: none !important;
  }
  .xdsoft_datetimepicker .xdsoft_calendar td:hover,
  .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
    color: #000000 !important;
    background: #ff6f45 !important;
    box-shadow: none !important;
  }
  .lazy-bg {
    background-image: none !important;
  }
  .lazy-placeholder:not(section),
  .lazy-none {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: auto;
  }
  iframe.lazy-placeholder,
  .lazy-placeholder:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: transparent no-repeat center;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23a148ff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  }
  section.lazy-placeholder:after {
    opacity: 0.5;
  }
  body {
    overflow-x: hidden;
  }
  a {
    transition: color 0.6s;
  }
  @media (max-width: 445px) {
    .container-banner {
      height: 11.5rem!important;
    }
  }
  .cid-sz52OrCkah {
    z-index: 1000;
    width: 100%;
  }
  .cid-sz52OrCkah nav.navbar {
    position: fixed;
  }
  .cid-sz52OrCkah .navbar-nav {
    margin: auto;
  }
  .cid-sz52OrCkah .dropdown-item {
    color: #000000 !important;
    border-bottom: 1px solid #e6e6e6;
  }
  .cid-sz52OrCkah .dropdown-item:hover,
  .cid-sz52OrCkah .dropdown-item:focus {
    background: #a148ff !important;
    color: white !important;
  }
  .cid-sz52OrCkah .dropdown-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .cid-sz52OrCkah .dropdown-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .cid-sz52OrCkah .navbar-short,
  .cid-sz52OrCkah .opened {
    background: #ffffff !important;
    opacity: 0.8;
    transition: all 0.3s;
  }
  .cid-sz52OrCkah .navbar-short .nav-link,
  .cid-sz52OrCkah .opened .nav-link,
  .cid-sz52OrCkah .navbar-short .navbar-caption,
  .cid-sz52OrCkah .opened .navbar-caption,
  .cid-sz52OrCkah .navbar-short .mbr-iconfont,
  .cid-sz52OrCkah .opened .mbr-iconfont {
    color: #000000 !important;
  }
  .cid-sz52OrCkah .navbar-short .hamburger span,
  .cid-sz52OrCkah .opened .hamburger span {
    background-color: #000000 !important;
  }
  .cid-sz52OrCkah .nav-link {
    transition: all 0.3s;
    position: relative;
  }
  .cid-sz52OrCkah .dropdown-item:before {
    font-family: Moririse2 !important;
    content: "\e966";
    display: inline-block;
    width: 0;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    transform: scale(0, 1);
    transition: all 0.25s ease-in-out;
  }
  .cid-sz52OrCkah .dropdown-menu {
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  }
  .cid-sz52OrCkah .nav-dropdown .link {
    padding: 0 0.3em !important;
    margin: 0.667em 1em !important;
  }
  .cid-sz52OrCkah .nav-dropdown .link.dropdown-toggle::after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
  }
  .cid-sz52OrCkah .container {
    display: flex;
    margin: auto;
  }
  .cid-sz52OrCkah .iconfont-wrapper {
    color: #ffffff !important;
    font-size: 1.5rem;
    padding-right: 0.5rem;
  }
  .cid-sz52OrCkah .dropdown-menu,
  .cid-sz52OrCkah .navbar.opened {
    background: #ffffff !important;
  }
  .cid-sz52OrCkah .nav-item:focus,
  .cid-sz52OrCkah .nav-link:focus {
    outline: none;
  }
  .cid-sz52OrCkah .dropdown .dropdown-menu .dropdown-item {
    width: auto;
    transition: all 0.25s ease-in-out;
  }
  .cid-sz52OrCkah .dropdown .dropdown-menu .dropdown-item::after {
    right: 0.5rem;
  }
  .cid-sz52OrCkah .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
    margin-right: 0.5rem;
    vertical-align: sub;
  }
  .cid-sz52OrCkah .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
    display: inline-block;
    transform: scale(1, 1);
    transition: all 0.25s ease-in-out;
  }
  .cid-sz52OrCkah .collapsed .dropdown-menu .dropdown-item:before {
    display: none;
  }
  .cid-sz52OrCkah .collapsed .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
  .cid-sz52OrCkah .navbar {
    min-height: 90px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    position: absolute;
    background: rgba(255, 255, 255, 0);
  }
  .cid-sz52OrCkah .navbar.opened {
    transition: all 0.3s;
  }
  .cid-sz52OrCkah .navbar .dropdown-item {
    padding: 0.5rem 1.8rem;
  }
  .cid-sz52OrCkah .navbar .navbar-logo img {
    width: auto;
  }
  .cid-sz52OrCkah .navbar .navbar-collapse {
    justify-content: flex-end;
    z-index: 1;
  }
  .cid-sz52OrCkah .navbar.collapsed {
    justify-content: center;
  }
  .cid-sz52OrCkah .navbar.collapsed .nav-item .nav-link::before {
    display: none;
  }
  .cid-sz52OrCkah .navbar.collapsed.opened .dropdown-menu {
    top: 0;
  }
  .cid-sz52OrCkah .navbar.collapsed .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sz52OrCkah .navbar.collapsed .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sz52OrCkah .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 41%;
  }
  .cid-sz52OrCkah .navbar.collapsed ul.navbar-nav li {
    margin: auto;
  }
  .cid-sz52OrCkah .navbar.collapsed .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
  }
  .cid-sz52OrCkah .navbar.collapsed .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  @media (max-width: 991px) {
    .cid-sz52OrCkah .navbar .nav-item .nav-link::before {
      display: none;
    }
    .cid-sz52OrCkah .navbar.opened .dropdown-menu {
      top: 0;
    }
    .cid-sz52OrCkah .navbar .dropdown-menu .dropdown-submenu {
      left: 0 !important;
    }
    .cid-sz52OrCkah .navbar .dropdown-menu .dropdown-item:after {
      right: auto;
    }
    .cid-sz52OrCkah .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
      margin-left: 0.5rem;
      margin-top: 0.2rem;
      border-top: 0.35em solid;
      border-right: 0.35em solid transparent;
      border-left: 0.35em solid transparent;
      border-bottom: 0;
      top: 40%;
    }
    .cid-sz52OrCkah .navbar .navbar-logo img {
      height: 3rem !important;
    }
    .cid-sz52OrCkah .navbar ul.navbar-nav li {
      margin: auto;
    }
    .cid-sz52OrCkah .navbar .dropdown-menu .dropdown-item {
      padding: 0.25rem 1.5rem !important;
      text-align: center;
    }
    .cid-sz52OrCkah .navbar .navbar-brand {
      flex-shrink: initial;
      flex-basis: auto;
      word-break: break-word;
      padding-right: 2rem;
    }
    .cid-sz52OrCkah .navbar .navbar-toggler {
      flex-basis: auto;
    }
    .cid-sz52OrCkah .navbar .icons-menu {
      padding-left: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
  .cid-sz52OrCkah .navbar.navbar-short {
    min-height: 60px;
  }
  .cid-sz52OrCkah .navbar.navbar-short .navbar-logo img {
    height: 2.5rem !important;
  }
  .cid-sz52OrCkah .navbar.navbar-short .navbar-brand {
    min-height: 60px;
    padding: 0;
  }
  .cid-sz52OrCkah .navbar-brand {
    min-height: 70px;
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 10px 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
  }
  .cid-sz52OrCkah .navbar-brand .navbar-caption {
    line-height: inherit !important;
  }
  .cid-sz52OrCkah .navbar-brand .navbar-logo a {
    outline: none;
  }
  .cid-sz52OrCkah .dropdown-item.active,
  .cid-sz52OrCkah .dropdown-item:active {
    background-color: transparent;
  }
  .cid-sz52OrCkah .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }
  .cid-sz52OrCkah .nav-dropdown .link.dropdown-toggle {
    margin-right: 1.667em;
  }
  .cid-sz52OrCkah .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    margin-right: 0;
    padding: 0.667em 1.667em;
  }
  .cid-sz52OrCkah .navbar.navbar-expand-lg .dropdown .dropdown-menu {
    background: #ffffff;
  }
  .cid-sz52OrCkah .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
    margin: 0;
    left: 100%;
  }
  .cid-sz52OrCkah .navbar .dropdown.open > .dropdown-menu {
    display: block;
  }
  .cid-sz52OrCkah ul.navbar-nav {
    flex-wrap: wrap;
  }
  .cid-sz52OrCkah .navbar-buttons {
    text-align: center;
    min-width: 170px;
  }
  .cid-sz52OrCkah button.navbar-toggler {
    outline: none;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-sz52OrCkah button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #ffffff;
  }
  .cid-sz52OrCkah button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all 0.2s;
  }
  .cid-sz52OrCkah button.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all 0.15s;
  }
  .cid-sz52OrCkah button.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all 0.15s;
  }
  .cid-sz52OrCkah button.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all 0.2s;
  }
  .cid-sz52OrCkah nav.opened .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
  }
  .cid-sz52OrCkah nav.opened .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    transition: all 0.25s;
  }
  .cid-sz52OrCkah nav.opened .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    transition: all 0.25s;
  }
  .cid-sz52OrCkah nav.opened .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
  }
  .cid-sz52OrCkah .navbar-dropdown {
    padding: 0 1rem;
    position: fixed;
  }
  .cid-sz52OrCkah a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cid-sz52OrCkah .icons-menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    text-align: center;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cid-sz52OrCkah .navbar {
      height: 70px;
    }
    .cid-sz52OrCkah .navbar.opened {
      height: auto;
    }
    .cid-sz52OrCkah .nav-item .nav-link:hover::before {
      width: 175%;
      max-width: calc(100% + 2rem);
      left: -1rem;
    }
  }
  .cid-sz51CvBpkK {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-image: url("../../../assets/images/background5.jpg");
  }
  .cid-sz51CvBpkK .mbr-overlay {
    backdrop-filter: blur(3.5px);
  }
  .cid-sz51CvBpkK img {
    transform: scale(2) translateX(-2rem);
    z-index: 0;
    border-radius: 30px;
  }
  @media (max-width: 992px) {
    .cid-sz51CvBpkK img {
      transform: scale(1) translateX(0);
    }
  }
  .cid-sz51CvBpkK .card-wrapper {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 6rem 3rem;
    margin: 0;
    z-index: 1;
    overflow: visible;
    position: relative;
    justify-content: center;
  }
  @media (max-width: 767px) {
    .cid-sz51CvBpkK .card-wrapper {
      padding: 2rem 1rem;
    }
  }
  .cid-sz51CvBpkK .card-wrapper:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border: 2px solid white;
    border-radius: 30px;
  }
  @media (max-width: 992px) {
    .cid-sz51CvBpkK .card-wrapper {
      margin-bottom: 2rem;
    }
  }
  .cid-sz51CvBpkK .col-12 {
    position: relative;
  }
  .cid-sz51CvBpkK .round {
    position: absolute;
    top: -60px;
    right: -150px;
    width: 280px;
    height: 280px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: 2;
  }
  @media (max-width: 767px) {
    .cid-sz51CvBpkK .round {
      top: -30px;
      right: -110px;
      width: 180px;
      height: 180px;
    }
  }
  .cid-sz51CvBpkK .round:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border: 2px solid white;
    border-radius: 50%;
  }
  .cid-sz51CvBpkK .round2 {
    top: auto;
    right: auto;
    bottom: -30px;
    left: -30px;
    width: 120px;
    height: 120px;
    z-index: 0;
  }
  .cid-sz51CvBpkK .mbr-section-title {
    color: #263d5a;
  }
  .cid-sz51CvBpkK .mbr-text,
  .cid-sz51CvBpkK .mbr-section-btn {
    color: #263d5a;
  }
  .cid-sz51CvBpkK .mbr-section-subtitle {
    color: #263d5a;
  }
  .cid-sz51Oyfrn1 {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-image: url("../../../assets/images/background3.jpg");
  }
  .cid-sz51Oyfrn1 .mbr-iconfont {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: #a148ff;
    margin-bottom: 2rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    border-radius: 50%;
    width: 115px;
    height: 115px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: visible;
  }
  .cid-sz51Oyfrn1 .row {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 3rem 3rem;
    margin: 0;
    overflow: visible;
    position: relative;
    justify-content: center;
  }
  @media (max-width: 767px) {
    .cid-sz51Oyfrn1 .row {
      padding: 2rem 1rem;
    }
  }
  .cid-sz51Oyfrn1 .row:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 30px;
    pointer-events: none;
  }
  .cid-sz51Oyfrn1 .card-wrapper {
    overflow: visible;
  }
  .cid-sz51Oyfrn1 .card-text {
    color: #263d5a;
  }
  .cid-sz51Oyfrn1 .card-title,
  .cid-sz51Oyfrn1 .iconfont-wrapper {
    color: #263d5a;
  }
  .cid-sz51Oyfrn1 .mbr-section-subtitle {
    color: #263d5a;
  }
  .cid-sz51Oyfrn1 .mbr-section-title {
    color: #263d5a;
  }
  @media (max-width: 992px) {
    .cid-sz51Oyfrn1 .card-wrapper {
      margin-bottom: 2rem;
    }
  }
  .cid-sz528Lv0MU {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url("../../../assets/images/background8.jpg");
  }
  .cid-sz528Lv0MU img {
    border-radius: 30px;
  }
  .cid-sz528Lv0MU .card-wrapper {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 6rem 3rem;
    margin: 0;
    z-index: 1;
    overflow: visible;
    position: relative;
    justify-content: center;
  }
  @media (max-width: 767px) {
    .cid-sz528Lv0MU .card-wrapper {
      padding: 2rem 1rem;
    }
  }
  .cid-sz528Lv0MU .card-wrapper:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border: 2px solid white;
    border-radius: 30px;
  }
  @media (max-width: 992px) {
    .cid-sz528Lv0MU .image-wrapper {
      margin-bottom: 2rem;
    }
  }
  .cid-sz528Lv0MU .mbr-section-title {
    color: #263d5a;
  }
  .cid-sz528Lv0MU .mbr-text,
  .cid-sz528Lv0MU .mbr-section-btn {
    color: #263d5a;
  }
  .cid-sz528Lv0MU .mbr-section-subtitle {
    color: #263d5a;
  }
  .cid-sz52wpUfhF {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-image: url("../../../assets/images/background4.jpg");
  }
  .cid-sz52wpUfhF .mbr-iconfont {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #379eeb;
    margin-bottom: 2rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  }
  .cid-sz52wpUfhF .card-wrapper {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 4rem 3rem;
    margin: 0;
    overflow: visible;
    position: relative;
    justify-content: center;
  }
  @media (max-width: 767px) {
    .cid-sz52wpUfhF .card-wrapper {
      padding: 2rem 1rem;
    }
  }
  .cid-sz52wpUfhF .card-wrapper:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 30px;
    pointer-events: none;
  }
  @media (max-width: 992px) {
    .cid-sz52wpUfhF .card-wrapper {
      margin-bottom: 2rem;
    }
  }
  .cid-sz52wpUfhF .row {
    justify-content: center;
  }
  .cid-sz52wpUfhF .card-text {
    color: #263d5a;
  }
  .cid-sz52wpUfhF .card-title,
  .cid-sz52wpUfhF .iconfont-wrapper {
    color: #263d5a;
  }
  .cid-sz52wpUfhF .mbr-section-subtitle {
    color: #263d5a;
  }
  .cid-sz52wpUfhF .mbr-section-title {
    color: #263d5a;
  }
  .cid-sz52wpUfhF .card-price,
  .cid-sz52wpUfhF .iconfont-wrapper {
    color: #263d5a;
  }
  .cid-sz51ZxbhFN {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url("../../../assets/images/background5.jpg");
  }
  .cid-sz51ZxbhFN .container {
    margin-right: 0rem;
    max-width: 1500px;
    padding: 0 2rem;
  }
  @media (max-width: 767px) {
    .cid-sz51ZxbhFN .container {
      padding: 0 1rem;
    }
  }
  .cid-sz51ZxbhFN .item-wrapper {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    border-radius: 30px;
    flex-flow: column nowrap;
    padding: 2rem;
  }
  .cid-sz51ZxbhFN .item-wrapper:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 1;
    width: 100%;
    pointer-events: none;
    height: 100%;
    background: black;
    transition: all 0.3s;
    opacity: 0;
  }
  .cid-sz51ZxbhFN .item-wrapper:hover .item-content {
    opacity: 1;
    transform: translateY(0px);
  }
  .cid-sz51ZxbhFN .item-wrapper:hover .item-img {
    transform: scale(1.1);
  }
  .cid-sz51ZxbhFN .item-wrapper:hover:before {
    opacity: 0.5;
  }
  @media (max-width: 767px) {
    .cid-sz51ZxbhFN .item-wrapper .item-content {
      opacity: 1;
      transform: translateY(0px);
    }
    .cid-sz51ZxbhFN .item-wrapper .item-img {
      transform: scale(1.1);
    }
    .cid-sz51ZxbhFN .item-wrapper:before {
      opacity: 0.5;
    }
  }
  .cid-sz51ZxbhFN .item-img {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  .cid-sz51ZxbhFN .item-img img {
    object-fit: cover;
    height: 100%;
  }
  .cid-sz51ZxbhFN .item-content {
    z-index: 3;
    opacity: 0;
    transition: all 0.3s;
    transform: translateY(5px);
    position: relative;
  }
  .cid-sz51ZxbhFN .item:focus,
  .cid-sz51ZxbhFN span:focus {
    outline: none;
  }
  .cid-sz51ZxbhFN .item {
    cursor: pointer;
    margin-bottom: 2rem;
  }
  .cid-sz51ZxbhFN .mbr-section-btn {
    margin-top: auto !important;
  }
  .cid-sz51ZxbhFN .mbr-section-title {
    color: #232323;
  }
  .cid-sz51ZxbhFN .mbr-text,
  .cid-sz51ZxbhFN .mbr-section-btn {
    color: #ffffff;
  }
  .cid-sz51ZxbhFN .item-title {
    color: #ffffff;
  }
  .cid-sz54WouORU {
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url("../../../assets/images/background1.jpg");
  }
  .cid-sz54WouORU .progress {
    width: 100%;
  }
  .cid-sz54WouORU .card-wrapper {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 5rem;
    margin: 0;
    overflow: visible;
    position: relative;
    justify-content: center;
  }
  @media (max-width: 992px) {
    .cid-sz54WouORU .card-wrapper {
      padding: 3rem 2rem;
    }
  }
  @media (max-width: 767px) {
    .cid-sz54WouORU .card-wrapper {
      padding: 3rem 1rem;
    }
  }
  .cid-sz54WouORU .card-wrapper:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 30px;
    pointer-events: none;
  }
  .cid-sz54WouORU .title-wrap {
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }
  .cid-sz54WouORU progress {
    height: 8px;
  }
  .cid-sz54WouORU .progressbar-number {
    display: inline-block;
    width: 50px;
  }
  .cid-sz54WouORU .progress-primary {
    background: #ffffff;
    border: none;
    outline: none;
  }
  .cid-sz54WouORU .progress-primary::-webkit-progress-bar {
    background: #ffffff;
  }
  .cid-sz54WouORU .progress_value {
    position: relative;
  }
  .cid-sz54WouORU .progress1 .progressbar-number:before,
  .cid-sz54WouORU .progress2 .progressbar-number:before,
  .cid-sz54WouORU .progress3 .progressbar-number:before,
  .cid-sz54WouORU .progress4 .progressbar-number:before,
  .cid-sz54WouORU .progress5 .progressbar-number:before {
    position: absolute;
    right: 15px;
    top: 0;
  }
  .cid-sz54WouORU progress[value]::-webkit-progress-bar {
    background: rgba(206, 206, 206, 0.4);
  }
  .cid-sz54WouORU progress::-webkit-progress-value {
    background: #a148ff;
  }
  .cid-sz54WouORU progress[value]::-moz-progress-bar {
    background: #a148ff;
  }
  .cid-sz54WouORU progress::-ms-fill {
    background: #a148ff;
  }
  .cid-sz54WouORU .progress1 .progressbar-number:before {
    content: '92';
  }
  .cid-sz54WouORU .progress2 .progressbar-number:before {
    content: '71';
  }
  .cid-sz54WouORU .progress3 .progressbar-number:before {
    content: '53';
  }
  .cid-sz54WouORU .progress4 .progressbar-number:before {
    content: '70';
  }
  .cid-sz54WouORU .progress5 .progressbar-number:before {
    content: '60';
  }
  .cid-sz54WouORU .section-content-text {
    color: #263d5a;
  }
  .cid-sz54WouORU .progressbar-title p,
  .cid-sz54WouORU .progress_value {
    color: #263d5a;
  }
  .cid-sz54WouORU .mbr-section-subtitle {
    color: #6c758f;
  }
  .cid-sz54WouORU .section-content-title {
    color: #263d5a;
  }
  .cid-sz54WouORU .section-content-subtitle {
    color: #263d5a;
  }
  .cid-sz54YLvblQ {
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url("../../../assets/images/background5.jpg");
  }
  .cid-sz54YLvblQ .header-text {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-sz54YLvblQ img {
    border-radius: 30px;
    margin-left: 2rem;
  }
  @media (max-width: 992px) {
    .cid-sz54YLvblQ img {
      margin-left: 0;
      margin-top: 4rem;
    }
  }
  .cid-sz54YLvblQ .row {
    margin: auto;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 4rem 3rem;
    overflow: visible;
    position: relative;
  }
  @media (max-width: 992px) {
    .cid-sz54YLvblQ .row {
      padding: 2rem 1rem;
    }
  }
  @media (max-width: 767px) {
    .cid-sz54YLvblQ .row {
      padding: 1rem 0rem;
    }
  }
  .cid-sz54YLvblQ .row:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 30px;
    pointer-events: none;
  }
  .cid-sz54YLvblQ .card-header {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 0px!important;
  }
  .cid-sz54YLvblQ span {
    transform: rotate(45deg);
    transition: all 0.3s;
  }
  .cid-sz54YLvblQ .collapsed span {
    transform: rotate(0deg);
  }
  .cid-sz54YLvblQ .accordion-content {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
  .cid-sz54YLvblQ .panel-group {
    width: 100%;
  }
  .cid-sz54YLvblQ .sign {
    color: currentColor;
    font-family: 'Moririse2' !important;
  }
  .cid-sz54YLvblQ .card {
    border-radius: 0px;
  }
  .cid-sz54YLvblQ .card .card-header {
    border-radius: 0px;
    padding: 0;
    background-color: transparent;
  }
  .cid-sz54YLvblQ .card .card-header a.panel-title {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    transition: all .3s;
    margin-bottom: 0;
    font-style: normal;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    text-decoration: none !important;
    line-height: normal;
  }
  .cid-sz54YLvblQ .card .card-header a.panel-title:focus {
    text-decoration: none !important;
  }
  .cid-sz54YLvblQ .card .card-header a.panel-title h4 {
    padding: 1.5rem 1rem 13px 0px;
    margin-bottom: 0;
  }
  .cid-sz54YLvblQ .panel-text {
    color: #263d5a;
  }
  .cid-sz54YLvblQ .header-text,
  .cid-sz54YLvblQ .sign {
    color: #263d5a;
    text-align: right;
  }
  .cid-sz54YLvblQ .mbr-section-title {
    color: #263d5a;
  }
  .cid-sz54YLvblQ .header-text,
  .cid-sz54YLvblQ .sign,
  .cid-sz54YLvblQ .card-header {
    color: #263d5a;
    text-align: left;
  }
  .cid-sz54YLvblQ .mbr-section-subtitle {
    color: #263d5a;
  }
  .cid-sz52hQ3MIW {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url("../../../assets/images/background2.jpg");
  }
  .cid-sz52hQ3MIW img {
    width: 150px;
    margin: auto;
  }
  @media (max-width: 992px) {
    .cid-sz52hQ3MIW img {
      width: 120px;
    }
  }
  .cid-sz52hQ3MIW .card-wrapper {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 3rem 3rem;
    margin-bottom: 2rem;
    overflow: visible;
    position: relative;
    justify-content: center;
  }
  @media (max-width: 767px) {
    .cid-sz52hQ3MIW .card-wrapper {
      padding: 2rem 1rem;
    }
  }
  .cid-sz52hQ3MIW .card-wrapper:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 30px;
    pointer-events: none;
  }
  .cid-sz52hQ3MIW .mbr-section-title {
    color: #ffffff;
  }
  .cid-sz52hQ3MIW .mbr-section-subtitle {
    color: #ffffff;
  }
  .cid-sz52o0Z0ww {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url("../../../assets/images/background7.jpg");
  }
  .cid-sz52o0Z0ww .mbr-overlay {
    backdrop-filter: blur(3.5px);
  }
  .cid-sz52o0Z0ww .card-wrapper {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 4rem 3rem;
    margin: 0;
    overflow: visible;
    position: relative;
    justify-content: center;
  }
  @media (max-width: 767px) {
    .cid-sz52o0Z0ww .card-wrapper {
      padding: 2rem 1rem;
    }
  }
  .cid-sz52o0Z0ww .card-wrapper:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border: 2px solid white;
    border-radius: 30px;
  }
  .cid-sz52o0Z0ww .mbr-section-title {
    color: #263d5a;
    text-align: center;
  }
  .cid-sz52o0Z0ww .mbr-text,
  .cid-sz52o0Z0ww .mbr-section-btn {
    color: #263d5a;
    text-align: center;
  }
  .cid-sz52o0Z0ww .mbr-section-subtitle {
    text-align: center;
    color: #263d5a;
  }
  .cid-sz52st4Y7Z {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-image: url("../../../assets/images/background3.jpg");
  }
  .cid-sz52st4Y7Z .google-map {
    height: 30rem;
    position: relative;
    border-radius: 30px;
  }
  .cid-sz52st4Y7Z .google-map iframe {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    opacity: 0.8;
    backdrop-filter: blur(3.5px);
  }
  .cid-sz52st4Y7Z .google-map [data-state-details] {
    color: #6b6763;
    height: 1.5em;
    margin-top: -0.75em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
  .cid-sz52st4Y7Z .google-map[data-state] {
    background: #e9e5dc;
  }
  .cid-sz52st4Y7Z .google-map[data-state="loading"] [data-state-details] {
    display: none;
  }
  .cid-sz52st4Y7Z .mbr-section-title {
    color: #263d5a;
  }
  .cid-sz54G4LKIS {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url("../../../assets/images/background5.jpg");
  }
  .cid-sz54G4LKIS img {
    border-radius: 30px;
  }
  .cid-sz54G4LKIS .my-auto {
    margin-bottom: 0!important;
  }
  .cid-sz54G4LKIS .card-wrapper {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 4rem 3rem;
    margin: 0;
    z-index: 1;
    overflow: visible;
    position: relative;
    justify-content: center;
  }
  @media (max-width: 767px) {
    .cid-sz54G4LKIS .card-wrapper {
      padding: 2rem 1rem;
    }
  }
  .cid-sz54G4LKIS .card-wrapper:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border: 2px solid white;
    border-radius: 30px;
  }
  @media (max-width: 992px) {
    .cid-sz54G4LKIS .image-wrapper {
      margin-bottom: 2rem;
    }
  }
  .cid-sz54G4LKIS .mbr-section-title {
    color: #263d5a;
  }
  .cid-sz54G4LKIS .mbr-text,
  .cid-sz54G4LKIS .mbr-section-btn {
    color: #263d5a;
  }
  .cid-sz54G4LKIS .mbr-section-subtitle {
    color: #263d5a;
  }
  .cid-sz52ol8cdq {
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: url("../../../assets/images/background1.jpg");
  }
  .cid-sz52ol8cdq .mbr-overlay {
    background-color: #ffffff;
    opacity: 0.4;
  }
  .cid-sz52ol8cdq input,
  .cid-sz52ol8cdq textarea {
    opacity: 0.7;
    border-radius: 10px;
  }
  .cid-sz52ol8cdq input:hover,
  .cid-sz52ol8cdq textarea:hover {
    border-color: transparent!important;
  }
  .cid-sz52ol8cdq .btn {
    border-radius: 2rem;
    padding: 1rem 3rem;
    width: -webkit-fill-available;
  }
  .cid-sz52ol8cdq h4 {
    margin-bottom: 3rem;
  }
  .cid-sz52ol8cdq .col-auto {
    width: 100%;
  }
  .cid-sz52ol8cdq textarea {
    min-height: 250px;
  }
  .cid-sz52ol8cdq .mbr-form {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 7rem 3rem;
    margin: 0;
    overflow: visible;
    position: relative;
    justify-content: center;
  }
  @media (max-width: 767px) {
    .cid-sz52ol8cdq .mbr-form {
      padding: 2rem 0rem;
    }
  }
  .cid-sz52ol8cdq .mbr-form:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 30px;
    pointer-events: none;
  }
  .cid-sz52ol8cdq H4 {
    text-align: center;
    color: #263d5a;
  }
  .cid-sz52xzhH9a {
    padding-top: 6rem;
    padding-bottom: 5rem;
    background-color: #131729;
  }
  .cid-sz52xzhH9a .social-row {
    display: flex;
    flex-wrap: wrap;
  }
  .cid-sz52xzhH9a .wrapper {
    max-width: 350px;
  }
  .cid-sz52xzhH9a .soc-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
  }
  @media (max-width: 767px) {
    .cid-sz52xzhH9a .row {
      text-align: center;
    }
    .cid-sz52xzhH9a .social-row {
      justify-content: center;
    }
  }
  .cid-sz52xzhH9a .list {
    list-style: none;
    padding-left: 0;
    color: #bbbbbb;
  }
  @media (max-width: 991px) {
    .cid-sz52xzhH9a .list {
      margin-bottom: 2rem;
    }
  }
  @media (min-width: 992px) {
    .cid-sz52xzhH9a .list {
      margin-bottom: 0rem;
    }
  }
  .cid-sz52xzhH9a .mbr-text {
    color: #ffffff;
  }
  .cid-sz52xzhH9a .mbr-iconfont {
    color: black;
  }